/* * {
    margin: 0;
    padding: 0;
} */

ul {
    /* list-style-type: none;s */
    /* margin: 0;
    padding: 0; */
    overflow: hidden;
    /* background-color: black; */
}

/* li {
    float: left;
} */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

li a:active {
    background-color: #04AA6D;
}

.main-box {
    background-color: aqua;
}

.s-box {
    float: left;
    margin: 0.75vw;
    height: 35vh;
    width: 18vw;
    background-color: rgb(45, 106, 147);
}

.clear::after {
    display: block;
    clear: both;
    content: "";
}

p::first-line {
    color: #ff0000;
    font-variant: small-caps;
    background: #000;
    word-spacing: 10ch;
    letter-spacing: 5ch;
    text-decoration: double;
    vertical-align: auto;
    text-transform: uppercase;
    line-height: 4ch;
    clear: both;
}


p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}
/* 
body {
    background-color: red;
    color: green;
} */

td {
    margin: 0;
    border: 2px solid black;
}